/* MAIN */
body {
    margin: 0;
    padding: 0;
    background: #1B244A;
}

/* Typography */

@font-face {
    font-family: CursedTimer;
    src: url(https://www.fontspace.com/cursed-timer-ulil-font-f29411);
}

.team {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 80px;
    color: white;
    margin: auto;
}

.score-box {
    font-size: 200px;
    font-family: CursedTimer;
    color: #F94F6D;
    background: black;
    padding: 50px 20px;
    border-radius: 50px;
}

.plus-score {
    font-size: 50px;
    padding: 5px;
    margin: 10px;
    font-family: CursedTimer;
}

.counts {
    font-size: 60px;
    font-family: CursedTimer;
}

p{
    margin: 20px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: aliceblue;
}
/* Layouts */

.rows-score {
    width: 1430px;
    display: flex;
    margin: auto;
    text-align: center;
}

.left-score {
    padding: 5px 20px;
    align-items: center;
}

.right-score {
    padding: 5px 20px;
    align-items: center;
}

.score-buttons {
    width: 500px;
    display: flex;
    text-align: center;
    margin: auto;
    padding: 20px;
}

.plus-score {
    margin: auto;
}

.counters {
    margin: 100px 20px;
}

.btn {
    padding: 10px;
    margin: 5px 0px;
    width: 100px;
}

.new-game button{
    width: 200px;
    margin: 50px 0px;
    font-size: 30px;
}

button {
    border-radius: 20px;
    color: white;
    border: white 2px solid;
    background: #1B244A;
    cursor: pointer;
}